<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_items.empty? %>

  <p>No Records Found</p>

<% else %>
  
  <% @search.search_items.each do |i| %>
    <!--<br>-->
    <ul class="col-4 col-md-4 text-center">
       <li>
          <p><%= link_to image_tag(i.image_url), "../items/"+i.name %></p>
          <%= i.name %>
        </li>
    </ul>

  <% end %>

<% end %>

